:root {
  --bg: #ffffff;
  --bg-alt: #bdbdbdbd;
  --bg-pre: #0d0d0d;
  --text: #0d0d0d;
  --text-pre: #ffffff;
  --link: #016dfe;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.05em;
  font-size-adjust: 0.5;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body {
  max-width: 640px;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 175px;
  margin-bottom: 1em;
}

#pitch {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  margin-top: 0;
}

#install {
  background-color: var(--bg-alt);
  padding: 1em;
  border-radius: 6px;
}

#install p:first-child {
  margin: 0;
  padding: 0;
}

pre {
  background-color: var(--bg-pre);
  color: var(--text-pre);
  border-bottom: #000000 2px solid;
  font-size: 1.4em;
  padding: .5em 1em;
}

a {
  color: var(--link);
}

#help {
  text-align: center;
}
